@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@media only screen and (max-width: 52em) {
  
  body { 
    background-position: 20% 10%;
  } 
  .app {
    font-size: smaller; 
  } 
  .drop-titles {
    padding-top: 0 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around !important;
    gap: 15px !important;
    padding-bottom: 3em;
  }

  .congrats {
    font-size: 40px !important;
  }
  .list {
    padding-top: 3em !important;
    font-size: small !important;
    line-height: 2em;
  }
 } 


body {
  background-image: url(cropped.png);
  background-repeat: cover;
}

.app {
  margin: 2%;
  font-weight: bold;
  color: rgb(39, 179, 58);
}

.drop-titles {
  padding-top: 2em;
  display: flex;
  flex: 200px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-bottom: 3em;
}

.congrats {
  font-size: 50px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.congratMessage {
  display: flex;
  justify-content: center;
  text-align: center;
}

.playlist {
  justify-content: start;
  padding-top: 4em;
}

.list {

  padding-top: 5em;
}


.playlistSongs {
  color: rgb(199, 201, 199);;
}

.year {
  font-weight: normal;
  font-style: italic;
}

.entryCount {
  font-weight: normal;
  font-style: italic;
  font-size: small;
  color: rgb(197, 196, 196);
}


