@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (max-width: 768px) {
  .container { flex-direction: column; 
    padding-left: 0;
   } 
 } 
@media (min-width: 768px) { 
 .container {
  flex-direction: row; 
   } 
 }

body {
  max-width: 1700px;
  background-image: url(cropped.png);
  background-repeat: cover;
}


.drop-titles {
  font-weight: bold;
  color: rgb(39, 179, 58);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  height: 18em;
 
}

.playlist {
  font-weight: bold;
  color: rgb(39, 179, 58);
  display: -webkit-flex;
  align-items: center;
  justify-content: left;
  height: auto;
  padding-top: 5em;
  padding-left: 5em;
}

.playlistSongs {
  color: rgb(199, 201, 199);;
}

.year {
  font-weight: normal;
  font-style: italic;
}

.entryCount {
  font-weight: normal;
  font-style: italic;
  font-size: small;
  color: rgb(197, 196, 196);
}

.congrats {
  font-weight: bold;
  font-size: 50px;
  color: rgb(255, 255, 255);
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

.congratMessage {
  font-weight: bold;
  color: rgb(39, 179, 58);
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.niceTry {
  font-weight: bold;
  font-size: 50px;
  color: rgb(252, 250, 251);
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}
