@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@media only screen and (max-width: 52em) {
  
  body {
    height: 1350px !important;
  }
  
  .dropdowns {
    padding-top: 5 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around !important;
    gap: 15px !important;
  }

  .congrats {
    font-size: 40px !important;
  }
  
  .list {
    grid-column-start: 1;
    grid-column-end: 3 !important;
    padding-top: 5em !important;
    font-size: small !important;
    line-height: 2em;
  }

 } 


body {
  width: 100%;
  height: 100%;
  background: linear-gradient(#021c50, #010c20, #000108);
  
}

.app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  margin: 2%;
  font-weight: bold;
  color: rgb(39, 179, 58);
}

.dropdowns {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 2em;
  display: flex;
  flex: 200px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-bottom: 3em;
}

.congrats {
  font-size: 50px;
  color: rgb(255, 255, 255);
  display: flex; 
  justify-content: center;
  padding-bottom: 0.5em;
}

.congratMessage {
  display: flex;
  justify-content: center;
  padding-bottom: 6em;
}


.list {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 6em;  
}


.playlistSongs {
  font-weight: normal;
  color: rgb(201, 200, 199);;
}

.year {
  font-weight: normal;
  font-style: italic;
}

.entryCount {
  font-weight: normal;
  font-style: italic;
  font-size: small;
  color: rgb(197, 196, 196);
}

.starMap {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
}
